<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(!string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title + " - " + ViewBag.SiteTitle : ViewBag.SiteTitle)</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.MetaKeywords" />
    @*Facebook meta*@
    <meta property="og:url" content="@Request.Url.GetLeftPart(UriPartial.Path)" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)" />
    <meta property="og:description" content="@Html.Raw(ViewBag.Description)" />
    <meta property="og:image" content="@ViewBag.Image" />

    @Styles.Render("~/Content/css/common")

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    
    @RenderSection("css", required: false)
    @Html.RenderDefaultThemeStyles("~/Themes/KhaiTamShop/css/main.min.css")
    @{ Html.RenderAction(MVC.Component.GoogleAnalytics());}
</head>
<body>

    @{Html.RenderAction(MVC.Component.Header());}

    @RenderBody()
    @Html.AlertModal("")

    <div id="addToCartModal" class="modal" role="dialog">
        <div class="modalOut">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">@Resource.AddToCartSuccessfully</h5>
                            
                    </div>
                    <div class="modal-body">
                        <div id="product_modal_info"></div>
                    </div>
                    <div class="modal-footer">
                        @Html.ActionLink(Resource.ToShoppingCart, "List", "ShoppingCart", null, new { @class = "btn btn-default" })
                        <button type="button" class="btn btn-primary" data-dismiss="modal">@Resource.ContinueShopping</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @if (!User.Identity.IsAuthenticated)
    {
        @Html.Partial("_LoginPartial")
    }

     @{Html.RenderAction(MVC.Component.Footer());}

    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/jqueryval")

    @Html.RenderDefaultThemeScripts("~/Themes/KhaiTamShop/scripts/main.js")

    <script>
        $(function () {
            window.prettyPrint && prettyPrint()
            $(document).on('click', '.navbar .dropdown-menu', function (e) {
                e.stopPropagation()
            })
        })

        $("button#searchProduct").click(function () {
         
            var href = $("#productCatalog option:selected").val();
            var query = $("#searchQuery").val();
            if (query != "") {
                window.location.href = href + "?query=" + query;
            }
            else
            {
                window.location.href = href;
            }
        });


        $(document).ready(function () {
            UpdateWishlistNumber();


        });

        $(document).ready(function () {
            var url = window.location;
            // Will only work if string in href matches with location
            $('ul.nav-child-menu a[href="' + url + '"]').closest("li").addClass('active');

            //  Will also work for relative and absolute hrefs
            //$('#mySidenav ul a').filter(function () {
            //    return this.href == url;
            //}).parents('li').addClass('sel');

        });

        var vmMenuCart = new Vue({
            mixins: [vmShoppingCart],
            el: '#cart',
            data: {
                cart: null,
                discountValue:0,
            },
            filters: {
                formatMoney: function (value) {
                    return value.toLocaleString("@Request.Cookies["lang"].Value", { minimumFractionDigits: 0 });
                }
            },
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
