@model Frontend.Models.SearchViewModel

@{
    //grid is default if not set
    bool isGrid = Request.Cookies["CurrentView"] == null || Request.Cookies["CurrentView"].Value != "list";
    string classCurrentView = isGrid ?
         "product-layout product-grid product col-md-3 col-sm-12" : "product col-md-3 col-sm-12";
}
<div>
    @foreach (var product in Model.ListProduct)
    {
        @Html.DisplayFor(m => product, "ProductBox")
    }
</div>
@{
    var parameters = new Dictionary<string, string>();
    if (!string.IsNullOrEmpty(@Request.QueryString["order"]))
    {
        parameters.Add("order", @Request.QueryString["order"]);
    }


    if (!string.IsNullOrEmpty(@Request.QueryString["itemPerPage"]))
    {
        parameters.Add("itemPerPage", @Request.QueryString["itemPerPage"]);
    }
}
<div class="pagination text-center" style="margin: auto">
    <nav>
        @Html.GetPageListCustom(Model.ListProduct.PageNumber, Model.ListProduct.PageSize, Model.ListProduct.TotalItemCount, parameters)
    </nav>
</div>
