@model Frontend.Models.CustomerAddressViewModel
@{
    ViewBag.Title = string.Format(Resource.UpdatePlaceholder, Resource.Address);
}

<div class="breadcum_main">
    <div class="container">
        @Html.Breadcrumb(Frontend.Infrastructure.Utility.BreadcrumbType.Custom, customMenuName: Resource.AccountInformation, customUrl: Url.Action("Info", "Account"), htmlAttributes: new { @class = "breadcrumb" })
    </div>
</div>

<div class="container account-account">
    <aside class="account-side-menu">
        @Html.Partial("_AccountLayoutMenu")
    </aside>
    <button type="button" class="btn-toggle-menu" id="btn-toggle-menu" data-toggle="show"><i class="fa fa-chevron-right"></i></button>

    <div class="account-body">
        @using (Html.BeginForm("EditAddress", "Account"))
        {
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                @Html.EditorForModel()
                <div class="form-group">
                    <div class="pull-right">
                        <input type="submit" value='@Resource.Save' class="btn btn-primary btn-danger submit-style" />
                        @Html.ActionLink(Resource.Skip, "Info", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
