@model IEnumerable<Frontend.Models.CustomerOrderViewModel>
@using Store.Service.Helper.ExtensionMethod

@{
    ViewBag.Title = "MyOrder";
}

@section css{
    <link href="~/Themes/NganHoa/css/userpage.css" rel="stylesheet" />
}
<div class="bg-gray" style="min-height: 500px;">
    <div class="wrapper userpage" id="divAccountInfo">
        <div class="userpage-sidebar">
            <div class="userpage-brief">
                <a class="userpage-brief__avatar none-hover" href="/Account/Info">
                    <div class="avatar">
                        <div class="avatar__placeholder">
                            <img class="avatar__img" src="~/Themes/NganHoa/Images/logo.jpg" />
                            @*<i class="far fa-user" style="font-size: 1.5rem; line-height: 44px"></i>*@
                        </div>
                    </div>
                </a>
                <div class="userpage-brief__right">
                    <div class="userpage-brief__username">@User.Identity.Name</div>
                    @*<div>
                            <p class="userpage-brief__edit" v-show="!isEdited" v-on:click="StartEdit">
                                <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" style="margin-right: 4px;"><path d="M8.54 0L6.987 1.56l3.46 3.48L12 3.48M0 8.52l.073 3.428L3.46 12l6.21-6.18-3.46-3.48" fill="#9B9B9B" fill-rule="evenodd"></path></svg>Sửa hồ sơ
                            </p>
                        </div>*@
                </div>
            </div>
            <div class="userpage-sidebar-menu">
                @Html.Partial("_AccountLayoutMenu")
            </div>
        </div>
        <div class="userpage__content">
            <div role="main">
                <div class="myaccount__wrapper">
                    <div class="myaccount-section" style="min-height: 400px">
                        <div class="myaccount-section__header">
                            <div class="myaccount-section__header-left">
                                <div class="myaccount-section__header-title">@Resource.MyOrder</div>
                                @*<div class="myaccount-section__header-subtitle">Quản lý thông tin hồ sơ để bảo mật tài khoản</div>*@
                            </div>
                            @*<div class="myaccount-section__header-button">
                                <button class="btn-button-solid btn-button-solid--primary btn-button-solid--address-tab ">
                                    <div class="button-with-icon" onclick="window.location.href='/Account/Info'">
                                        <div class="button-with-icon__icon">
                                            <svg class="shopee-svg-icon icon-plus-sign" enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0" y="0"><polygon points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5"></polygon></svg>
                                        </div>
                                        <div>@Resource.Back</div>
                                    </div>
                                </button>
                            </div>*@
                        </div>
                        <div class="myaccount-profile" style="flex-direction: column; padding-top: 0;">
                            <div class="address-card px-0">
                                <div class="address-display__left">
                                    <div class="account-body">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="col-xs-1">@Resource.ID</th>
                                                    <th class="col-xs-2">@Resource.OrderDate</th>
                                                    <th class="col-xs-4">@Resource.SendTo</th>
                                                    <th class="col-xs-2">@Resource.Total</th>
                                                    <th class="col-xs-2">@Resource.Status</th>
                                                    <th class="col-xs-1"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var order in Model)
                                                {
                                                    <tr>
                                                        <td>@Html.ActionLink(order.OrderID.ToString(), "OrderDetails", new { id = order.OrderID })</td>
                                                        <td>@order.OrderDate.Value.ToShortDateString()</td>
                                                        <td>@order.ReceiverName</td>
                                                        <td>@order.Total.ToString("N0")</td>
                                                        <td>@order.Status.GetDescription()</td>
                                                        <td>@Html.ActionLink(Resource.Detail, "OrderDetails", new { id = order.OrderID })</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                @*<div class="address-display__right">
                                    <div class="address-card__button-group">

                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>