@model Frontend.Models.CustomerOrderViewModel
@using Store.Service.Helper.ExtensionMethod
@{
    ViewBag.Title = Resource.MyOrder;
}

@section css{
    <link href="~/Themes/NganHoa/css/userpage.css" rel="stylesheet" />
}
<div class="bg-gray" style="min-height: 500px;">
    <div class="wrapper userpage" id="divAccountInfo">
        <div class="userpage-sidebar">
            <div class="userpage-brief">
                <a class="userpage-brief__avatar none-hover" href="/Account/Info">
                    <div class="avatar">
                        <div class="avatar__placeholder">
                            <img class="avatar__img" src="~/Themes/NganHoa/Images/logo.jpg" />
                            @*<i class="far fa-user" style="font-size: 1.5rem; line-height: 44px"></i>*@
                        </div>
                    </div>
                </a>
                <div class="userpage-brief__right">
                    <div class="userpage-brief__username">@User.Identity.Name</div>
                    @*<div>
                            <p class="userpage-brief__edit" v-show="!isEdited" v-on:click="StartEdit">
                                <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" style="margin-right: 4px;"><path d="M8.54 0L6.987 1.56l3.46 3.48L12 3.48M0 8.52l.073 3.428L3.46 12l6.21-6.18-3.46-3.48" fill="#9B9B9B" fill-rule="evenodd"></path></svg>Sửa hồ sơ
                            </p>
                        </div>*@
                </div>
            </div>
            <div class="userpage-sidebar-menu">
                @Html.Partial("_AccountLayoutMenu")
            </div>
        </div>
        <div class="userpage__content">
            <div role="main">
                <div class="myaccount__wrapper">
                    <div class="myaccount-section" style="min-height: 400px">
                        <div class="myaccount-section__header">
                            <div class="myaccount-section__header-left">
                                <div class="myaccount-section__header-title">@Resource.OrderStatus</div>
                                @*<div class="myaccount-section__header-subtitle">Quản lý thông tin hồ sơ để bảo mật tài khoản</div>*@
                            </div>
                            <div class="myaccount-section__header-button">
                                <div class="button-with-icon">
                                    <div>@Model.Status.GetDescription()</div>
                                </div>
                            </div>
                        </div>
                        <div class="myaccount-profile" style="flex-direction: column; padding-top: 0;">
                            <div class="address-card px-0">
                                <div class="address-display__left">
                                    <div class="account-body">
                                        <div class="line-border-delivery"></div>
                                        <div class="account-body-detail py-3">
                                            <div class="clearfix">
                                                <p class="title-item3 pull-left">@Resource.OrderInfo</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4" style="border-right: 1px solid #ccc">
                                                    <div style="font-weight: 500; text-transform: uppercase;">@Model.ReceiverName</div>
                                                    <div style="color: rgba(0,0,0,.54); font-size: 14px;">@Model.ReceiverPhone</div>
                                                    <div style="color: rgba(0,0,0,.54); font-size: 14px;">@Model.AddressReceive</div>
                                                </div>
                                                <div class="col-md-8">
                                                    <ul class="list-unstyled" style="padding-top: 24px;">
                                                        <li style="color: rgba(0,0,0,.54); font-size: 14px;">@Resource.OrderStatus: @Model.Status.GetDescription()</li>
                                                        @if (@Model.Status != Store.Service.ProductServices.OrderStatus.Cancel)
                                                        {
                                                            <li style="color: rgba(0,0,0,.54); font-size: 14px;">@Resource.PaymentStatus: @Model.PaymentType.GetDescription()</li>
                                                            <li style="color: rgba(0,0,0,.54); font-size: 14px;">@Resource.ShippingStatus: @Model.ShippingStatus.GetDescription()</li>
                                                        }
                                                        else
                                                        {
                                                            <li style="color: rgba(0,0,0,.54); font-size: 14px;"><strong>@Resource.CancelOrderReason:</strong> @Model.CancelReason.GetDescription()</li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="line-border-delivery"></div>

                                        <div class="Co_LC_Ce py-3">
                                            <div class="clearfix">
                                                <p class="title-item3 pull-left">@Resource.MyOrder</p>
                                            </div>
                                            <div>
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-xs-4">@Resource.Title</th>
                                                            <th class="col-xs-2">@Resource.Price</th>
                                                            <th class="col-xs-1">@Resource.Quantity</th>
                                                            <th class="col-xs-3">@Resource.Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var order in Model.OrderCart)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <img class="img-fluid" src="@order.ImageUrl" />
                                                                    <a href="/@order.FriendlyUrl">@order.Title</a>
                                                                    <div>
                                                                        <ul class="pull-right list-style-none">
                                                                            @foreach (var property in order.ListProperties)
                                                                            {
                                                                                <li>@property.Item1: <strong>@property.Item2</strong><br /></li>
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </td>
                                                                <td>@string.Format("{0:n0}", order.Price) VNĐ</td>
                                                                <td>@order.Quantity</td>
                                                                <td>@string.Format("{0:n0}", order.Price * order.Quantity) VNĐ</td>
                                                            </tr>
                                                        }
                                                        <tr>
                                                            <td colspan="3" class="text-right">@Html.DisplayNameFor(m => m.Subtotal)</td>
                                                            <td>@string.Format("{0:n0}", Model.Subtotal)</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" class="text-right">@Html.DisplayNameFor(m => m.Discount)</td>
                                                            <td>@string.Format("{0:n0}", Model.Discount ?? 0)</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" class="text-right">@Html.DisplayNameFor(m => m.ShippingFee)</td>
                                                            <td>Chưa tính</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3" class="text-right">@Html.DisplayNameFor(m => m.Total)</td>
                                                            <td>@string.Format("{0:n0}", Model.Total)</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                @if (Model.Status != Store.Service.ProductServices.OrderStatus.Cancel)
                                                {
                                                    <button type="submit" class="btn btn-danger pull-right" data-toggle="modal" data-target="#order-cancel-confirmation">@Resource.CancelOrder</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.Status != Store.Service.ProductServices.OrderStatus.Cancel)
                                    {
                                        <div id="order-cancel-confirmation" class="modal" tabindex="-1" role="dialog" aria-labelledby="order-cancel-confirmation-title">
                                            <div class="modalOut">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                            <h4 class="modal-title">@Resource.CancelOrder #@Model.OrderID</h4>
                                                        </div>
                                                        @using (Html.BeginForm("CancelOrder", "Account", new { id = Model.OrderID }, FormMethod.Post, null))
                {
                                                            <div class="modal-body">
                                                                @Html.AntiForgeryToken()
                                                                <div class="form-group">
                                                                    <label class="control-label" for="CancelReason">@Resource.Reason</label>
                                                                    @Html.DropDownList("CancelReason", ViewBag.CancelOrderReasons as SelectList, string.Format(Resource.SelectPlaceHolder, Resource.Reason), new { @class = "form-control" })
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label" for="Note">@Resource.Note</label>
                                                                    @Html.TextArea("Note", "", 5, 5, new { @class = "form-control" })
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">@Resource.PleaseReadCancelPolicyMsg</label>
                                                                    <div class="well">
                                                                        @ViewBag.CancelPolicy
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <span class="btn btn-default" data-dismiss="modal">@Resource.NotCancel</span>
                                                                <button type="submit" class="btn btn-danger pull-right">
                                                                    @Resource.Acccept
                                                                </button>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                @*<div class="address-display__right">
                                        <div class="address-card__button-group">

                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


