@{
    ViewBag.Title = Model.Brand.Name;
    ViewBag.Description = Model.Brand.Description.RemoveHtml();
    if (!string.IsNullOrEmpty(Model.Brand.ImageUrl))
    {
        ViewBag.Image = Url.Content(Model.Brand.ImageUrl, true);
    }
    string themeHomeViewPath = "~/Themes/" + TabWeb.GetCurrentTheme() + "/Views/Home/{0}.cshtml";

}

@model Frontend.Models.SearchViewModel

<main class="topic">
    <div class="banner-page">
        <div class="picture-page">
            <img class="img-fluid" src="@Model.Brand.BannerUrl" alt="@Model.ProductGroup.Title" />
        </div>
        <div class="wrapper">
            <div class="banner-page--content">
                <img src="~/Themes/MNShop/Images/MN_Fine_Arrt_Prints-white.png" alt="MN Shop">
                <h2 class="title">In lại các tác phẩm nghệ thuật đẹp như bản gốc</h2>
            </div>
        </div>
    </div>
    @{Html.RenderAction(MVC.Component.Display(5, "AvsNotify"));}
    <div class="wrapper breadcrumb-ds">
        @Html.Breadcrumb(Frontend.Infrastructure.Utility.BreadcrumbType.Brand, Model.Brand.Id, new { @class = "breadcrumb" })
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-md-9 g-left">
                <div class="topic-desc">
                    <p> @Model.Brand.Description.RemoveHtml()</p>
                </div>
                <h2 class="topic-title border-bot">@Model.Brand.Name</h2>
                <div class="topic-list row">
                    @{Html.RenderPartial("_ProductList", Model);}
                </div>
            </div>
            <div class="col-md-3 g-right border-left">
                @{Html.RenderAction(MVC.Component.Display(7, "Reviews"));}
                @{Html.RenderAction(MVC.Component.GetContentForGroupID(string.Format(themeHomeViewPath, "ListNewsPartial2"), ThemeConfig.GetComponent("GroupBlogs2"), Store.Service.Service.DistributionOrder.Lastest, true, ""));}
                <section class="tag">
                    <h3 class="title draw-botLeft">Tag keywords</h3>
                    <div class="tag-list">
                        <ul>
                            <li><a href="#!">Ceramic Mosaic</a></li>
                            <li><a href="#!">Tranh Chúa Giesu</a></li>
                            <li><a href="#!">Tranh hổ, Tranh trừu tượng</a></li>
                            <li><a href="#!">Tranh phố cổ</a></li>
                            <li><a href="#!">Tranh Quan âm</a></li>
                            <li><a href="#!">Tranh Acrylic</a></li>
                            <li><a href="#!">Tranh lãnh tựu</a></li>
                        </ul>
                    </div>
                </section>
                <section class="contact-home">
                    <h3 class="title draw-botLeft">Liên hệ</h3>
                    <form action="" class="fContactHome">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Họ tên" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Điện thoại" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <textarea rows="8" type="text" class="form-control" placeholder="Nội dung"></textarea>
                        </div>
                        <div class="">
                            <button type="submit" class="text-uppercase btn btn-1">Gửi cho chúng tôi</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</main>

    @section js{

    }
