@model Frontend.Models.ProductGroupViewModel

@if (Model.ChildGroup.Count() > 0)
{
    <section class="topic border-bot">
        <h3 class="title">@Model.Title</h3>
        <div class="topic-desc">
            <p>@Model.Description.RemoveHtml().Truncate(400)</p>
        </div>
        <div class="topic-list row">
            @foreach (var item in Model.ChildGroup)
            {
                <div class="col-md-4  topic-item">
                    <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.ProductGroup, item.GroupID)" class="thumnails-template hover-ef-1">
                        <div class="thumnails-content thumb-img">
                            <img src="@item.ImageUrl" class="img-fluid" alt="@item.Title">
                        </div>
                    </a>
                    <div class="topic-item--name text-center text-uppercase">
                        <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.ProductGroup, item.GroupID)">@item.Title</a>
                    </div>
                </div>
            }
        </div>
    </section>
}