@model Frontend.Models.SearchViewModel

@{
    ViewBag.Title = Model.ProductGroup.Title;
    ViewBag.Description = Model.ProductGroup.Description.RemoveHtml();
    if (!string.IsNullOrEmpty(Model.ProductGroup.ImageUrl))
    {
        ViewBag.Image = Url.Content(Model.ProductGroup.ImageUrl, true);
    }
    string themeHomeViewPath = "~/Themes/" + TabWeb.GetCurrentTheme() + "/Views/Home/{0}.cshtml";
}

<main class="topic">
    <div class="banner-page">
        <div class="picture-page">
            <img class="img-fluid" src="@Model.ProductGroup.BannerUrl" alt="@Model.ProductGroup.Title" />
        </div>
        <div class="wrapper">
            <div class="banner-page--content">
                <img src="~/Themes/MNShop/Images/MN_Fine_Arrt_Prints-white.png" alt="MN Shop">
                <h2 class="title">In lại các tác phẩm nghệ thuật đẹp như bản gốc</h2>
            </div>
        </div>
    </div>
    @{Html.RenderAction(MVC.Component.Display(5, "AvsNotify"));}
    <div class="wrapper breadcrumb-ds">
        @Html.Breadcrumb(Frontend.Infrastructure.Utility.BreadcrumbType.ProductGroup, Model.ProductGroup.GroupID, new { @class = "breadcrumb" })
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="col-md-9 g-left">
                <div class="topic-desc">
                    <p> @Model.ProductGroup.Description.RemoveHtml()</p>
                </div>
                <h2 class="topic-title border-bot">@Model.ProductGroup.Title</h2>
                <div class="topic-list row">
                    @{Html.RenderPartial("_ProductList", Model);}
                </div>
                @{
                    var parameters = new Dictionary<string, string>();
                    if (!string.IsNullOrEmpty(@Request.QueryString["properties"]))
                    {
                        parameters.Add("properties", @Request.QueryString["properties"]);
                    }
                    if (!string.IsNullOrEmpty(@Request.QueryString["order"]))
                    {
                        parameters.Add("order", @Request.QueryString["order"]);
                    }


                    if (!string.IsNullOrEmpty(@Request.QueryString["itemPerPage"]))
                    {
                        parameters.Add("itemPerPage", @Request.QueryString["itemPerPage"]);
                    }

                    @*<div class="pagination text-center">
                        <nav>
                            @Html.GetPageListCustom(Model.ListProduct.PageNumber, Model.ListProduct.PageSize, Model.ListProduct.TotalItemCount, parameters)
                        </nav>
                    </div>*@
                }
            </div>
            <div class="col-md-3 g-right border-left">
                @{Html.RenderAction(MVC.Component.Display(7, "Reviews"));}
                @{Html.RenderAction(MVC.Component.GetContentForGroupID(string.Format(themeHomeViewPath, "ListNewsPartial2"), ThemeConfig.GetComponent("GroupBlogs2"), Store.Service.Service.DistributionOrder.Lastest, true, ""));}
                <section class="tag">
                    <h3 class="title draw-botLeft">Tag keywords</h3>
                    <div class="tag-list">
                        <ul>
                            <li><a href="#!">Ceramic Mosaic</a></li>
                            <li><a href="#!">Tranh Chúa Giesu</a></li>
                            <li><a href="#!">Tranh hổ, Tranh trừu tượng</a></li>
                            <li><a href="#!">Tranh phố cổ</a></li>
                            <li><a href="#!">Tranh Quan âm</a></li>
                            <li><a href="#!">Tranh Acrylic</a></li>
                            <li><a href="#!">Tranh lãnh tựu</a></li>
                        </ul>
                    </div>
                </section>
                <section class="contact-home">
                    <h3 class="title draw-botLeft">Liên hệ</h3>
                    <form action="" class="fContactHome">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Họ tên" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Điện thoại" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <textarea rows="8" type="text" class="form-control" placeholder="Nội dung"></textarea>
                        </div>
                        <div class="">
                            <button type="submit" class="text-uppercase btn btn-1">Gửi cho chúng tôi</button>
                        </div>
                    </form>
                </section>
            </div>

        </div>
    </div>
</main>

@section js{
    <script src="~/Themes/ShopSmartphone/scripts/jquery.cookie.js"></script>
    <script>
        $(document).ready(function () {
            var url = window.location;
            // Will only work if string in href matches with location
            $('.cat-child ul a[href="' + url + '"]').parents('li').addClass('active');

            // Will also work for relative and absolute hrefs
            $('.cat-child ul a').filter(function () {
                return this.href == url;
            }).parents('li').addClass('active');

            var fType = getUrlVars()["properties"];
            $("#filter_div").val(fType);

            $('.groupProperty option').each(function () {

                if (fType.indexOf($(this).val()) >= 0) {
                    $(this).prop("selected", true);
                }
            });

        });

        function UpdateFilter(elem) {
            var valueSelected = elem.options[elem.selectedIndex].value;
            FUpdateFilter(valueSelected, elem.id);
        }

        function FUpdateFilter(valueSelected, groupid) {
            $properties = $("#filter_div").val();
            var myVar;
            myVar = groupid;
            var trends = document.getElementById(myVar), trend, i;

            for (i = 0; i < trends.length; i++) {
                trend = trends[i];
                if (($properties.indexOf(trend.value) >= 0) || (valueSelected == -1)) {
                    $properties = $properties.replace(trend.value + ',', '');
                }

                if (valueSelected != -1) {
                    if (trend.selected) {
                        $properties = $properties + trend.value + ",";
                    }
                }
            }
            //   $properties = $properties.substring(0, $properties.length - 1);
            $('#filter_div').val($properties);
            // $("#filter_div").val($properties + valueSelected + ",");
            ChangeUrl({ order: $("#Order").val(), properties: $('#filter_div').val() });
        }

    </script>
}
