@model List<Frontend.Models.BannerViewModel>

<section class="row wrapper slideUp moveUp in-view seaFlowers-par">
    <div class="list list-seaFlowers-par">  
        @{ 
            int i = 0;
        }      
        @foreach (var item in Model)
        {
            if (i <= 4)
            {
                <div class="item">
                    <a class="img-item" href="@item.Url">
                        <div class="thumb rounded-circle">
                            <img src="@item.ImageUrl" alt="@item.AdName">
                        </div>
                    </a>
                    <div class="name text-center d-block">
                        <a href="@item.Url" class="toUpper text-nw text-b">@item.AdName</a>
                    </div>
                </div>
            }
            i++;
        }
             
    </div>
</section>
