@model Frontend.Models.LayoutContactViewModel
@{ var cookielang = Request.Cookies["lang"].Value;}
<div class="contact-partial" style="margin-top: 3rem">
    <div class="contact-footer" style="background-image: url('../Content/UserFiles/Files/ThemeAccess/Banners/slide-03-1920x1000.jpg')">
        <div class="wrapper mt-4">
            <div class="row ml-0 mr-0">
                <div class="contact col-md-8">
                    @{var firstItem = Model.Group;}
                    <div class="row contact-head pt-3">
                        <div class="col-md-7 pl-4">
                            @if (firstItem.CustomizeTitle.IsEmpty())
                            {
                                <h3 class="title">@firstItem.Title</h3>
                            }
                            else
                            {
                                <h3 class="title">@firstItem.CustomizeTitle</h3>
                            }

                        </div>
                        <div class="col-md-5 pr-4">
                            <div class="logo">
                                @Html.BannerImage(3, Request.Cookies["lang"].Value, new { @class = "img-fluid" })
                            </div>
                        </div>
                    </div>
                    <div class="row contact-subhead pt-3">
                        <div class="col-md-7 pl-4">
                            <p class="sumary pr-5">
                                @firstItem.Body.RemoveHtml().Truncate(200)
                            </p>
                        </div>
                        <div class="col-md-5 pr-4">
                            <p class="text-b text-upper line-left">
                                @Model.CompanyName
                            </p>
                        </div>
                    </div>

                    @*else
                        {
                            <div class="row contact-head pt-3">
                                <div class="col-md-7 pl-4">
                                    <h3 class="title">Liên hệ với chúng tôi</h3>
                                </div>
                                <div class="col-md-5 pr-4">
                                    <div class="logo">
                                        @Html.BannerImage(3, Request.Cookies["lang"].Value, new { @class = "img-fluid" })
                                    </div>
                                </div>
                            </div>
                            <div class="row contact-subhead pt-3">
                                <div class="col-md-7 pl-4">
                                    <p class="sumary pr-5">
                                        Vestibulum massa ante, dignissim ornare leo vel, lobortis suscipit velit. Quisque
                                        commodo, nisl nec tincidunt elementum, tellus metus consequat justo, eget aliquet
                                        erat eros eget arcu.
                                    </p>
                                </div>
                                <div class="col-md-5 pr-4">
                                    <p class="text-b text-upper line-left">
                                        @Model.CompanyName
                                    </p>
                                </div>
                            </div>
                        }*@
                    <div class="row contact-main pt-3 pb-4">
                        <div class="col-md-7 pl-4">
                            <div class="main-form mt-4">
                                <div role="form" class="wpcf7" id="wpcf7-f7-p397-o1" lang="en-US" dir="ltr">
                                    @using (Ajax.BeginForm(MVC.Home.Contact(), new AjaxOptions { HttpMethod = "POST", OnSuccess = "ContactSuccess" }, new { @class = "contact-form", id = "contact-area" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.EditorFor(m => m.CustomerContact)
                                        <div class="row">
                                            <div class="col-sm-6 offset-sm-3">
                                                <input type="submit" class="button-link-2 wpcf7-form-control wpcf7-submit" value="@Resource.SentContact" />
                                            </div>
                                        </div>
                                    }
                                    <p id="alert-contact" class="mt-3 df-color"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 pr-4">
                            <div class="info mt-4">
                                <div class="address pb-3 pl-2">
                                    @if (cookielang.ToString() == "vi-VN")
                                    {
                                        <span>@Model.Address</span>
                                    }
                                    else
                                    {
                                        <span>@Model.Address2</span>
                                    }
                                </div>
                                <div class="tel pb-3 pl-2"><a href="tel:123123123">+84.8.351 80758</a></div>
                                <div class="email pb-3 pl-2"><a href="mailto:info@lss.vn">info@lss.vn</a></div>
                            </div>
                            <div class="follow">
                                @if (cookielang.ToString() == "vi-VN")
                                {
                                    <p class="text-b">Theo dõi chúng tôi tại:</p>
                                }
                                else
                                {
                                    <p class="text-b">Follow us:</p>
                                }
                                <ul class="pt-3">
                                    <li>
                                        <a href="@Model.Facebook" target="_blank" title="Facebook">
                                            <img src="~/Themes/lss/images/Themes/icon/facebook-2.png" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Model.Youtube" target="_blank" title="Youtube">
                                            <img src="~/Themes/lss/images/Themes/icon/youtube-2.png" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Model.Pinterest" target="_blank" title="Pinterest">
                                            <img src="~/Themes/lss/images/Themes/icon/pinterest.png" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Model.Twitter" target="_blank" title="Houzz">
                                            <img src="~/Themes/lss/images/Themes/icon/Houzz.png" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
