@model Frontend.Models.ShoppingCartViewModel

@{
    ViewBag.Title = Resource.ShoppingCart;
}
<link href="~/Themes/AnhNhan/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
<link href="~/Themes/AnhNhan/css/checkout.css" rel="stylesheet" />
<link href="~/Themes/AnhNhan/css/User.css" rel="stylesheet" />

<div class="container-fluid wrap-page pd-left pd-right">

    <div class="title-link">
        @Html.Breadcrumb(Frontend.Infrastructure.Utility.BreadcrumbType.Custom, htmlAttributes: new { @class = "breadcrumb" }, customMenuName: Resource.ShoppingCart, customUrl: Url.Action("List", "ShoppingCart"))
    </div>

    <!-- main checkout -->
    <div class="row" id="cartPage" style="margin: 0">
        <div class="col-md-8 table-checkout" style="padding: 0">
            <div class="title-form">
                <span>GIỎ HÀNG CỦA BẠN</span>
                <div class="sub-checkout float-right">
                    <ul>
                        <li><a href="#" onclick="window.history.back()">Tiếp tục mua hàng</a></li>
                        <li>
                            @Html.ActionLink("Xóa toàn bộ giỏ hàng", "DeleteAllCart", "ShoppingCart")
                        </li>
                        <li><a href="#">Cập nhật giỏ hàng</a></li>
                    </ul>
                </div>
            </div>
            <div class="table-main table-responsive">

                @using (Ajax.BeginForm("UpdateCart", "ShoppingCart", new AjaxOptions
            {
                HttpMethod = "POST",
                OnFailure = "ShowAlertMessage()",
                OnSuccess = "UpdateCartSuccessful"
            }))
            {
                    @Html.AntiForgeryToken()
                    <div class="table-responsive table-main">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="img-product-checkout"></th>
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col">Đơn giá / Số lượng</th>
                                    <th scope="col">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in cart">
                                    <td class="img-product-checkout">
                                        <img v-bind:src="item.ImageUrl" class="rounded mx-auto d-block" />
                                        <input type="hidden" v-bind:value="item.ProductVersionID" v-bind:name="'ListItems[' + index + '].ProductVersionID'" />
                                    </td>
                                    <td class="text-left">
                                        <div class="name-product">
                                            <a v-bind:href="'/' + item.Url"><p>{{item.Title}}</p></a>
                                        </div>
                                        <div class="list-detal">
                                           <div v-html="item.Summary"></div>
                                        </div>
                                    </td>
                                    <td class="price-checkout">
                                        <p class="price text-center">{{item.Price |formatMoney }} đ</p>


                                        <div style="width: 50%; margin: auto;" class="countProduct">
                                            <input v-model="item.Quantity" v-bind:value="item.Quantity" class="form-control" v-bind:name="'ListItems[' + index + '].Quantity'" />
                                        </div>
                                        <div class="btnUpdateAndDelete" style="width: 100%; margin: auto;">
                                            <span class="input-group-btn text-center" style="width: 100%; margin: auto; padding-top:10px;float:left;">
                                                <button type="submit" data-toggle="tooltip" title="@Resource.Update" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                                                <button type="submit" data-toggle="tooltip" title="Loại bỏ" class="btn btn-danger" name="deleteBtn" v-bind:value="item.ProductVersionID"><i class="fa fa-trash"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="price-total text-center">{{item.Price * item.Quantity |formatMoney }} đ</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }

                <hr />
                <p class="text-right" style="padding-right: 30px; color: #084e90">
                    Bạn gặp khó khăn trong quá trình đặt hàng?<br>
                    Liên hệ để được hỗ trợ: <a href="tel:@Model.Hotline.ParaValue" style="color: #9e1a1a; font-family: Myriad-Bold">@Model.Hotline.ParaValue</a>
                </p>
            </div>
            <br />
        </div>
        <div class="col-md-4 pay">
            <div class="payment">
                <p class="title-payment">GIÁ TRỊ ĐƠN HÀNG CỦA BẠN TẠM TÍNH</p>
                <div class="detail-payment">
                    <div class="row">
                        <div class="col-md-6" style="font-family: Roboto">
                            Tổng giá trị hàng hóa trong giỏ hàng
                        </div>
                        <div class="col-md-6 text-right price">
                            {{sumMoney | formatMoney}} đ
                        </div>
                    </div>
                    <hr>
                    <p class="detail">
                        @Html.Raw(Model.ShippingNote.Description)
                    </p>
                    <hr>
                    <div class="row">
                        <div class="col-md-6" style="font-family: Roboto">
                            <span style="font-size: large;">Giảm giá</span><br>
                            <span><i>tạm tính</i></span>
                        </div>
                        <div class="col-md-6 text-right price">
                           {{discountValue | formatMoney}} đ
                        </div>
                    </div>
                    <hr>
                    <div class="row total-payment">
                        <div class="col-md-6" style="font-family: Roboto">
                            <span style="font-size: large; color: #0154a1;">TỔNG CỘNG:</span><br>
                            <span><i>tạm tính</i></span>
                        </div>
                        <div class="col-md-6 text-right">
                            <span class="price" style="font-size: 22px;">{{getTotalPrice | formatMoney}} đ</span><br>
                            <span>(Chưa bao gồm VAT)</span>
                        </div>
                    </div>
                    @Html.ActionLink(Resource.Checkout, "Checkout", "ShoppingCart", null, new { @class = "btn btn-danger payment-btn" })
                </div>
            </div>

            <br/>
            <div class="panel-group payment" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title title-payment" style="text-transform:uppercase;"><a href="#collapse-coupon" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Sử dụng Mã giảm Giá</a></h4>
                    </div>
                    <div id="collapse-coupon" class="panel-collapse collapse">
                        <div class="panel-body">
                            @using (Ajax.BeginForm("ApplyCoupon", "ShoppingCart", new AjaxOptions
                            {
                                HttpMethod = "POST",
                                OnBegin = "return checkCouponCode($(this))",
                            }))
                            {
                                <div class="input-group">

                                    @Html.TextBoxFor(m => m.CouponCode, new { @class = "form-control", placehoder = @Resource.Inputvoucher })
                                    <span class="input-group-btn">
                                        <input type="submit" value="@Resource.Acccept" id="checkCouponCode" class="btn btn-primary" />
                                    </span>
                                </div>
                                <br/>
                                @Html.ValidationMessageFor(model => model.CouponCode, null, new { id = "couponCodeMessage", @class = "alert-danger couponCodeMessage" })
                                <br/>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end main checkout -->
</div>

@section scripts{

    <script src="~/Themes/AnhNhan/scripts/jquery.bootstrap-touchspin.min.js"></script>
    <script>

        $(".countProduct input").TouchSpin({
        });
    </script>

    <script>
        var vmCart = new Vue({
            mixins: [vmShoppingCart],
            el: '#cartPage',
            data: {
                cart: null,
                discountValue: @Model.DiscountValue,
            },
            filters: {
                formatMoney: function (value) {
                    return value.toLocaleString("@Request.Cookies["lang"].Value", { minimumFractionDigits: 0 });
                }
            },
        });

        function checkCouponCode($this) {
            $.post($this.attr('action'), $this.serialize(), function (response) {
                if (response != null) {
                    vmCart.discountValue = response.DiscountPrice;
                    if (response.Message != null && response.Message != '') {
                        $("#couponCodeMessage").text(response.Message);
                    }
                }
            });

            return false;
        }

    </script>



}
