@model List<Frontend.Models.ProductBoxViewModel>

<h3 class="title" style="margin-bottom: 1.5rem">Tranh cùng chủ đề</h3>

<div class="topic-list row">
    @if (Model.Any())
    {
        foreach (var item in Model.Take(6))
        {
            <div class="col-md-4 topic-item">
                <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Product, @item.ProductID)" class="thumnails-template hover-ef-1">
                    <div class="thumnails-content thumb-img">
                        <img src="@item.ImageUrl" class="img-fluid" alt="@item.Title">
                    </div>
                </a>
                <div class="topic-item--name text-center">
                    <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Product, @item.ProductID)">@item.Title</a>
                </div>
                <p class="topic-item--author text-center">@item.Value1</p>
                <p class="topic-item--type text-center">
                    Chất liệu tranh gốc: <span class="color-active">@item.Value2.RemoveHtml()</span>
                </p>
            </div>
        }
    }
</div>