@model IEnumerable<Frontend.Models.ProductBoxViewModel>

<section class="cat wrapper" style="overflow: hidden">
    <div class="headline text-center">
        <h3 class="toUpper c-black h3">@Resource.Promotion</h3>
    </div>
    <div class="swiper-container list-product-slide list-product pt-3">
        <div class="swiper-wrapper">
            @foreach (var slider in Model)
            {
                <div class="swiper-slide item">
                    <div class="box">
                        <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Product, slider.ProductID)" class="thumb">
                            <img src="@slider.ImageUrl" alt="@slider.Title">
                        </a>
                        <div class="content">
                            <div class="name text-center">
                                <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Product, slider.ProductID)" class="h4 text-b toUpper c-black">@slider.Title</a>
                            </div>
                            <div class="price text-center">
                                <p class="color-main h4 text-b">@string.Format("{0:n0}", slider.Price) Đ</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>