@model List<Frontend.Models.ProductBoxViewModel>

<div class="product--other_list">
    @foreach (var product in Model)
    {
        <div class="product--other_item card_two">
            <div class="card_two__thumbnail">
                <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Product, product.ProductID)"><img src="@product.ImageUrl" alt="" loading="lazy" /></a>
            </div>
            <div class="card_two__content">
                <span class="card_two__label">Học cụ cho trẻ 0-3</span>
                <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Product, product.ProductID)" class="card_two__title">
                    <h3 class="card_two__title">@product.Title</h3>
                </a>
                <div class="card_two__desc">
                    <span>Độ tuổi: </span>
                    <strong>0-1 tuổi</strong>
                </div>
                <div class="card_two__price">
                    <span class="price">@string.Format("{0:n0}", product.Price) VNĐ</span>
                </div>
            </div>
        </div>
    }
</div>

