@model Frontend.Models.CustomerAddressViewModel

@Html.HiddenFor(m => m.Id)
<div class="form-group">
    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", placeholder = Resource.Name })
</div>
<div class="form-group">

    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = Resource.Phone })

</div>
<div class="form-group">
    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = Resource.Address })
    @Html.ValidationMessageFor(m => m.Address)
</div>
<div class="form-group row">
    <div class="col-md-6">
        @Html.DropDownListFor(m => m.Province, ViewBag.ListCity as SelectList,
                                        string.Format(Resource.SelectPlaceHolder, Resource.City),
                                        new { @class = "form-control select-search", onChange = string.Format("ChangeSelectedCity(this,'#{0}','{1}')", Html.IdFor(m => m.District), string.Format(Resource.SelectPlaceHolder, Resource.District)) })
        @Html.ValidationMessageFor(m => m.Province)
    </div>
    <div class="col-md-6">
        @Html.DropDownListFor(m => m.District, ViewBag.ListDistrict as SelectList,
                                            string.Format(Resource.SelectPlaceHolder, Resource.District),
                                            new { @class = "form-control select-search", onChange = string.Format("ChangeSelectedDistrict(this,'#{0}','{1}')", Html.IdFor(m => m.Ward), string.Format(Resource.SelectPlaceHolder, Resource.Ward)) })
        @Html.ValidationMessageFor(m => m.District)
    </div>
     <input type="hidden" id="shippingFee"/>
</div>
<div class="form-group row">
    <div class="col-md-12">
        @Html.DropDownListFor(m => m.Ward, ViewBag.ListWard as SelectList,
                                        string.Format(Resource.SelectPlaceHolder, Resource.Ward), new { @class = "form-control select-search" })
        @Html.ValidationMessageFor(m => m.Ward)
    </div>
</div>

<div class="form-group row">
    <div class="col-md-12">
        @Html.DropDownListFor(m => m.AddressType, ViewBag.ListAddressType as SelectList,
                                            string.Format(Resource.SelectPlaceHolder, Resource.AddressType),
                                        new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AddressType)
    </div>
</div>