@model Frontend.Models.ProductGroupViewModel
@using System.Globalization
@using System
@using Frontend.Infrastructure.ExtensionMethod;
@using Frontend.Infrastructure.Utility;
@using Store.Service.SystemService;
@using Store.Service.ProductServices

<section class="cat wrapper">
    <div class="headline text-center">
        <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.ProductGroup,  Model.GroupID)" class="toUpper c-black h3">@Model.Title</a>
    </div>
    <div class="swiper-container list-product-slide row">
        <div class="swiper-wrapper">
            @foreach (var item in Model.ListProduct)
            {
                <div class="swiper-slide">
                    <div class="img-slider">
                        <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Product, @item.ProductID)" class="d-block w-100">
                            <img src="@item.ImageUrl" class="img-fluid">
                        </a>
                    </div>
                    <hr>
                    <div class="content">
                        <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Product, @item.ProductID)" class="toUpper text-center d-block">@item.Title.RemoveHtml()</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>