@model Frontend.Models.LayoutContentViewModel
@using PagedList.Mvc;
@using PagedList;
@using Frontend.Infrastructure.ExtensionMethod;
@using Frontend.Infrastructure.Utility;
@using Frontend.Infrastructure.Helpers;

@{
    ViewBag.Title = Model.Group.Title;
    ViewBag.Description = Model.Group.Description.RemoveHtml();
    if (!string.IsNullOrEmpty(Model.Group.ImageUrl))
    {
        ViewBag.Image = Url.Content(Model.Group.ImageUrl, true);
    }
    string ComponentViewPath = "~/Themes/" + TabWeb.GetCurrentTheme() + "/Views/Component/{0}.cshtml";
    string themeBannerViewPath = "~/Themes/" + TabWeb.GetCurrentTheme() + "/Views/Banner/{0}.cshtml";
}

<link href="~/Themes/AnhNhan/css/info.css" rel="stylesheet" />

<div class="clearfix"></div>
<div class="container-fluid">
    <div class="title-link  wrap-page pd-left pd-right">
        @Html.Breadcrumb(Frontend.Infrastructure.Utility.BreadcrumbType.Group, Model.Group.GroupID, new { @class = "breadcrumb" })
    </div>
    <div id="cat">
        <div class="wrap-page pd-left pd-right row">
            <div class="cat-name">@Model.Group.GroupParentName</div>
            <div class="cat-child" style="margin-left: 5px;">
                    @{Html.RenderAction(MVC.Component.GetChildGroup(Model.LastGroupParentID, "ListGroupMenu", null, true));
                    }
            </div>

        </div>
    </div>

    @if (Model.ListContent.Count > 1)
    {
        <div class="wrap-page pd-left pd-right pd-mobile" style="margin-top: 20px;">
            <div class="row" style="margin: 0">
                @foreach (var item in Model.ListContent)
                {
                <div class="content col-md-3">
                    <div class="img-content">
                        <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Content, item.ContentID)">
                            <figure>
                                <img src="@item.PictureUrl" class="mx-auto d-block" width="100%" alt="content 1">
                            </figure>
                        </a>
                    </div>
                    <div class="detail-content">
                        <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Content, item.ContentID)"><h5>@item.Headline</h5></a>
                        <span class="user-create">@item.AuthorName</span>
                        <span class="date-create">@item.PublishDate.ToShortDateString()</span>
                        <p class="detail">@item.Summary.RemoveHtml().Truncate(140)</p>
                    </div>
                </div>
                }
            </div>
            <nav class="float-right" style="margin-top: 10px;">
                @*<div class="sub-pagination d-inline-block float-left">Trang <strong>1/10 </strong></div>
                    <div class="main-pagination float-right">
                        <ul class="pagination justify-content-end">
                            <li class="page-item icc disabled"><a class="page-link" href="html/info-page.html" tabindex="-1">&lt;&lt;</a></li>
                            <li class="page-item icc disabled"><a class="page-link" href="html/info-page.html" tabindex="-1">&lt;</a></li>
                            <li class="page-item active"><a class="page-link" href="html/info-page.html">1</a></li>
                            <li class="page-item"><a class="page-link" href="html/info-page.html">2</a></li>
                            <li class="page-item"><a class="page-link" href="html/info-page.html">3</a></li>
                            <li class="page-item"><a class="page-link" href="html/info-page.html">4</a></li>
                            <li class="page-item"><a class="page-link" href="html/info-page.html">5</a></li>
                            <li class="page-item"><a class="page-link" href="html/info-page.html">6</a></li>
                            <li class="page-item icc"><a class="page-link" href="html/info-page.html">&gt;</a></li>
                            <li class="page-item icc"><a class="page-link" href="html/info-page.html">&gt;&gt;</a></li>
                        </ul>
                    </div>*@


                <div class="main-pagination float-right">@Html.GetPageListCustom(Model.Page, Model.PageSize, Model.TotalItems, htmlAttributes: new { @class = "pagination" })</div>
            </nav>
        </div>

    }
    else if (Model.ListContent.Count == 1)
    {
        <div class="row wrap-page pd-left pd-right" id="detail-content-an" style="margin-top: 20px;">
            <div class="col-md-9 content-item">
                <div class="content-name"><h4>@Model.ListContent.FirstOrDefault().Headline</h4></div>
                <div class="detail-content">
                    <div class="more-content">
                        <span class="date-create">by </span><span class="user-create">Anh Nhân</span>
                        <span class="date-create">@Model.ListContent.FirstOrDefault().PublishDate.ToShortDateString()</span>
                    </div>
                    <div class="note">
                        <p>@Model.ListContent.FirstOrDefault().Summary.RemoveHtml()</p>
                    </div>
                    <div class="detail">
                        @Html.Raw(@Model.ListContent.FirstOrDefault().Body)
                    </div>
                </div>
            </div>
            <div class="col-md-3 content-ad">
                <div class="item">
                    <div class="title text-center">
                        <span>ADVERTISEMENTS</span>
                    </div>
                    @{ Html.RenderAction(MVC.Component.Display(6, string.Format(themeBannerViewPath, "ListPromo")));}
                </div>
            </div>
        </div>

                        }
                        else
                        {
                            <div class="wrap-page pd-left pd-right pd-mobile" style="margin-top: 20px;">
                                @Resource.Updating
                            </div>
                        }
</div>


@helper Ext(string url)
{
string ext = "";
if (url.EndsWith(".pdf"))
{
    ext = "PDF";
}
else if (url.EndsWith(".doc"))
{
    ext = "DOC";
}
else if (url.EndsWith(".docx"))
{
    ext = "DOCX";
}
else if (url.EndsWith(".xls"))
{
    ext = "XLS";
}
else if (url.EndsWith(".xlsx"))
{
    ext = "XLSX";
}
else if (url.EndsWith(".ppt"))
{
    ext = "PPT";
}
else if (url.EndsWith(".zip"))
{
    ext = "ZIP";
}
else if (url.EndsWith(".rar"))
{
    ext = "RAR";
}
else if (url.EndsWith(".txt"))
{
    ext = "TXT";
}
    <p>@ext</p>
}
@section scripts{
    <script>
        $(document).ready(function () {
            var url = window.location;
            // Will only work if string in href matches with location
            $('.cat-child ul a[href="' + url + '"]').parents('li').addClass('active');

            // Will also work for relative and absolute hrefs
            $('.cat-child ul a').filter(function () {
                return this.href == url;
            }).parents('li').addClass('active');

        });
    </script>
}
