@model Frontend.Models.LayoutContentDetailViewModel
@using Frontend.Infrastructure.ExtensionMethod;
@using Frontend.Infrastructure.Utility;
@using Frontend.Infrastructure.Helpers;

@{
    ViewBag.Title = Model.Content.Headline;
}

@{
    string themeBannerViewPath = "~/Themes/" + TabWeb.GetCurrentTheme() + "/Views/Banner/{0}.cshtml";
}
<link href="~/Themes/AnhNhan/css/info.css" rel="stylesheet" />

<!-- body -->
	<div class="container-fluid ">
		<div class="title-link wrap-page pd-left pd-right">
            @Html.Breadcrumb(Frontend.Infrastructure.Utility.BreadcrumbType.Group, Model.Group.GroupID, new { @class = "breadcrumb" })
		</div>
        <input type="hidden" id="groupCurrent" value="@Url.CustomAction(Store.Service.SystemService.RoutingType.Group, Model.Group.GroupID)"/>
		<div id="cat">
            <div class="wrap-page pd-left pd-right row">
                <div class="cat-name">@Model.Group.GroupParentName</div>
                <div class="cat-child" style="margin-left: 5px;">
                    <ul>
                        @{Html.RenderAction(MVC.Component.GetChildGroup(Model.LastGroupParentID, "ListGroupMenu", null, true));
                        }
                    </ul>
                </div>

            </div>
		</div>
		
		<!-- main content -->
		<div class="row wrap-page pd-left pd-right" id="detail-content-an" style="margin-top: 20px;">
			<div class="col-md-6 content-item">
				<div class="content-name"><h4>@Model.Content.Headline</h4></div>
				<div class="detail-content">
					<div class="more-content">
						<span class="date-create">by </span><span class="user-create">@Model.Content.AuthorName</span>
						<span class="date-create">@Model.Content.PublishDate.ToShortDateString()</span>
					</div>					
					<div class="note">
						<p>@Model.Content.Summary.RemoveHtml()</p>
					</div>
					<div class="detail">
						@Html.Raw(@Model.Content.Body)
					</div>
				</div>
			</div>
			<div class="col-md-3 content-list" style="border-left: 1px solid #ccc;">
				<div class="title" style="margin-bottom: 20px;"><a href=""><span>Các bài viết khác</span></a></div>
                @foreach (var item in @Model.AnotherNews)
                {
                    <div class="content">
                        <div class="img-content">
                            <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Content, item.ContentID)">
                                <figure>
                                    <img src="@item.PictureUrl" class="rounded mx-auto d-block" width="100%" alt="content 1">
                                </figure>
                            </a>
                        </div>
                        <div class="detail-content">
                            <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Content, item.ContentID)"><h5>@item.Headline</h5></a>
                            <span class="user-create">@item.AuthorName</span>
                            <span class="date-create">@item.PublishDate.ToShortDateString()</span>
                            <p class="detail">@item.Summary.RemoveHtml().Truncate(140)</p>
                        </div>
                    </div>
                }
			</div>
			<div class="col-md-3 content-ad">
				<div class="item">
					<div class="title text-center">
						<span>ADVERTISEMENTS</span>
					</div>
					@{ Html.RenderAction(MVC.Component.Display(6, string.Format(themeBannerViewPath, "ListPromo")));}
				</div>
			</div>
		</div>
	</div>
	<!-- end body -->@section scripts{
    <script>
        $(document).ready(function () {
            var url = $("#groupCurrent").val();
            // Will only work if string in href matches with location
            $('.cat-child ul a[href="' + url + '"]').parents('li').addClass('active');

            // Will also work for relative and absolute hrefs
            $('.cat-child ul a').filter(function () {
                return this.href == url;
            }).parents('li').addClass('active');

        });
    </script>
}
