@model Frontend.Models.TagPageViewModel
@using PagedList.Mvc;
@using PagedList;
@using Frontend.Infrastructure.ExtensionMethod;
@using Frontend.Infrastructure.Utility;

@{
    ViewBag.Title = Model.Tag.Name;
}

<div class="wrapper inner-main-title" style="background-image:url('@Html.BannerImageLinkOnly(4, Request.Cookies["lang"].Value)');background-position: center 22px; background-attachment: fixed;">
    <div class="container">
        <div class="row">
            <header class="entry-header col-md-6 init-animate fadeInDown1" style="visibility: visible; animation-name: fadeInDown1;">
                <h1 class="page-title">@Resource.Tag - @Model.Tag.Name</h1>
            </header>
            <div class="breadcrumbs col-md-6 init-animate fadeInDown1" style="visibility: visible; animation-name: fadeInDown1;">
                @Html.Breadcrumb(BreadcrumbType.Custom, customMenuName: Resource.Tag + " - " +  Model.Tag.Name, htmlAttributes:new { @class = "breadcrumb" })
            </div>
        </div>
    </div>
</div>

<div id="content" class="site-content container clearfix">
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">

            @foreach (var content in @Model.ListContent)
            {
                <article id="post-292" class="post-292 post type-post status-publish format-standard has-post-thumbnail hentry category-corporate">
                    <div class="content-wrapper">
                        <div class="reposive-img">
                            <!--post thumbnal options-->
                            <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Content,@content.ContentID)" class="full-image">
                                <img src="@content.PictureUrl" class="aligncenter wp-post-image" alt="">
                            </a>
                        </div>

                        <header class="entry-header">
                            <h2 class="entry-title">
                                <a href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Content,@content.ContentID)" rel="bookmark">@content.Headline</a>
                            </h2>							<div class="entry-meta">
                                <span class="posted-on">
                                    <a href="#" rel="bookmark">
                                        <i class="fa fa-calendar"></i>
                                        <time class="entry-date published" datetime="@content.PublishDate">@content.PublishDate.ToShortDateString()</time>
                                    </a>
                                </span>
                                @if (content.PublishedGroupId.HasValue)
                                {
                                    <span class="byline">
                                        <span class="author vcard">
                                            <a class="url fn n" href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Group, content.PublishedGroupId.Value)"><i class="fa fa-folder"></i>@content.GroupName</a>
                                        </span>
                                    </span>
                                }
                            </div><!-- .entry-meta -->
                        </header><!-- .entry-header -->
                        <div class="entry-content">
                            <p>@content.Summary.RemoveHtml().Truncate(150)</p>
                        </div><!-- .entry-content -->
                        <div class="clearfix"></div>

                        <a class="read-more" href="@Url.CustomAction(Store.Service.SystemService.RoutingType.Content,@content.ContentID)">@Resource.ReadMore</a>
                    </div>

                </article><!-- #post-## -->
            }

            <div>@Html.GetPageList(Model.Page, Model.PageSize, Model.TotalItems, htmlAttributes: new { @class = "pagination" })</div>
        </main><!-- #main -->
    </div><!-- #primary -->

    <div id="secondary-right" class="at-remove-width widget-area sidebar secondary-sidebar" role="complementary">
        
    </div>

</div>

@section scripts{
   
}